# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
a.out
*.ps
*.dot
assg2/23tree
*.swp
*.dvi
*.pdf
*.log
*.aux
*.zip
dshash
hash.ipp
std
hotbox
